.row{
    background-color: lightcoral;
    color: lightseagreen;
    margin-top:20px;
}
label{
    color: maroon;
}
button{
    background-color: palegreen;
}
h2{
    font-style: oblique;
    font-size: large;
}